<h1 mat-dialog-title>
  Cadastro de Usuários
</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-full">
      <mat-label>Nome</mat-label>
      <input id="nome" matInput [formControlName]="'nome'">
      <mat-error *ngIf="form.get('nome').hasError('required')">
        O campo nome é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>CPF</mat-label>
      <input id="cpf" mask="000.000.000-00" matInput [formControlName]="'cpf'">
      <mat-error *ngIf="form.get('cpf').hasError('required')">
        O campo CPF é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Data de nascimento</mat-label>
      <input id="dataNascimento" mask="00/00/0000" [dropSpecialCharacters]="false"  [showMaskTyped]="true" matInput [formControlName]="'dataNascimento'">
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Data de nascimento</mat-label>
      <input  matInput [formControlName]="'dataNascimento'" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field class="w-full">
      <mat-label>Sexo</mat-label>
      <mat-select [formControlName]="'sexo'">
        <mat-option value="f">
          Feminino
        </mat-option>
        <mat-option value="m">
          Masculino
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Cargo</mat-label>
      <mat-select [formControlName]="'cargo'" [compareWith]="objectComparisonFunction">
        <mat-option *ngFor="let cargo of cargos" [value]="cargo">
          {{cargo.nome}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('cargo').hasError('required')">
        O cargo é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Perfis</mat-label>
      <mat-chip-list #chipList formControlName="perfis">
          <mat-chip *ngFor="let perfil of form.get('perfis').value" [selectable]="selectable" [removable]="removable" (removed)="removePerfil(perfil)">
              {{perfil.nome}}
              <mat-icon matChipRemove (click)="removePerfil(perfil)">cancel</mat-icon>
          </mat-chip>
  
          <input #fruitInput placeholder="Digite para pesquisar" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
           [matAutocomplete]="fruitsAutocomplete" formControlName="perfilInput">
      </mat-chip-list>
      <mat-autocomplete #fruitsAutocomplete="matAutocomplete">
        <mat-option *ngFor="let perfil of filteredPerfis$ | async" [value]="perfil" (click)="addPerfil(perfil)">
          {{perfil.nome}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onConfirm()">Salvar</button>
  <button mat-button (click)="onDismiss()">Cancelar</button>
</mat-dialog-actions>
